h1{
  font-size: 70px;
  color: brown;
  font-style: normal;
  text-align: center;
  text-decoration: underline

}

.container{
  background: no-repeat url("C:\Users\3D1\Documents\GitHub\Workshop-Hetic\images")
}
